{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Forge{% endblock %}</title>
        {% tailwind_css %}
        <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
    </head>
    <body class="flex min-h-screen flex-col overflow-x-hidden bg-dark-brand">
        
        
            {% include 'header.html' %} 
        

        <main class="flex-1">
            {% block content %}{% endblock %}
        </main>

            {% include 'footer.html' %} 
    </body>
</html>